@use 'src/style/colors'
@use 'src/style/breakpoints'
@import 'src/style/typography'

.myPlansPageWrapper 
    width: 100%
    background-color: colors.$white
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 8px

    .myPlansTitle
        @extend .H3
        padding: 24px
        align-self: flex-start