@use 'src/style/colors'
@import 'src/style/typography'

.planContainer
    width: 100%
    box-sizing: border-box
    padding: 16px
    border: solid 1px colors.$purple
    border-radius: 8px
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 5px

    .ingredientsBlock
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 12px
        padding: 12px 0
        box-sizing: border-box

    .planRecipesBlock
        gap: 8px