@use 'src/style/colors'
@import 'src/style/typography'

.ingredientContainer
    width: 100%
    box-sizing: border-box
    padding: 16px
    border: solid 1px colors.$purple
    border-radius: 8px
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 10px

    .buttonsPanel
        display: flex
        gap: 15px

        .ingredientBlockLogo
            width: 24px